

<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="col-xs-8 col-sm-7 col-md-5 col-lg-4">
    <%= image_tag(@product.image_url, class: "img-responsive product-image") %>
  </div>

  <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
    <h1><%= @product.name %></h1>

    <p>
      <strong>Description:</strong><br>
      <%= @product.description %>
    </p>

    <p>
      <strong>Colour:</strong><br>
      <%= @product.colour %>
    </p>

    <p>
      <strong>Price:</strong><br>
      <%= @product.price %>
    </p>
    
    <p>
      Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </p>

    <p><%= link_to 'Edit', edit_product_path(@product) %> |
    <%= link_to 'Back', products_path %></p>

  </div> <!-- col -->

</div> <!-- row -->
<br>
<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-4">
      
    <%= render 'new_comment' %>
  </div> <!-- col -->
</div> <!-- row -->

    <br>
    <p>
      <strong>Product Reviews:</strong><br>
    </p>

    <%= render 'comments' %>